<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Asignee public:</strong>
  <%= @task.assignee&.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<% @task %>
<%= link_to 'Resolve', task_resolve_path(@task) %> |
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
